<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--章节匹配正则-->
    <add key="ChaptersRecogniseRegex" value="^(第.*?章\s*)|^序\s+|^序$|^前言\s+|^前言$|^后记\s|^后记$" />
    <!--章节匹配正则（备用）-->
    <add key="ChaptersRecogniseRegexBackUp" value="^(\d+\.\s*)|^序\s+|^序$|^前言\s+|^前言$|^后记\s|^后记$" />
    <!--导入书籍扩展名-->
    <add key="ImportBookExt" value="*.txt;" />
    <!--书籍扩展名（本地存储）-->
    <add key="BookExt" value=".book" />
    <!--浮窗是否显示 是:1 否:0-->
    <add key="ShowFloatingWin" value="0" />
  </appSettings>
</configuration>